// Fonts
$font__cairo: 'Cairo', sans-serif;
$font__cairo-bold: 'Cairo-Bold', sans-serif;
$font__cairo-semiBold: 'Cairo-SemiBold', sans-serif;
$font__cairo-black: 'Cairo-Black', sans-serif;
$font__cairo-ex-light: 'Cairo-ExtraLight', sans-serif;
$font__cairo-light: 'Cairo-Light', sans-serif;
$font__baloo: 'Baloo Bhaijaan', cursive;
$font__tahoma: "tahoma";
